<%= form_for([@post, comment]) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <br>
  <div class="">
    <%= f.submit %>
  </div>
<% end %>
